---
apiVersion: v1
kind: Service
metadata:
  name: wih-cloud-config-service
spec:
  selector:
    app: wih-cloud-config-service
  ports:
    - name: http
      port: 8888
      targetPort: 8888
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wih-cloud-config-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wih-cloud-config-service
  template:
    metadata:
      labels:
        app: wih-cloud-config-service
    spec:
      containers:
        - name: eureka
          image: elu107/wih-cloud-config-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8888
            initialDelaySeconds: 15
            periodSeconds: 10
